/.vscode/settings.json
/add
/bin/.cmake
/bin/compile_commands.json
/bin/cmake_install.cmake
/bin/CMakeFiles
/bin/CMakeCache.txt
/bin/Makefile
/bin/main.exe
/bin/libcore.a
/bin/libengine.a
/bin/libgame.a
/bin/libgraphic.a
/bin/libtest.a
/res/textures/wall.jpg
/doc/DEBUG
/doc/TODO
/bin/libmod.a
/bin/libplugin1.dll.a
/bin/libplugin2.dll.a
/bin/libplugin3.dll.a
/bin/plugins/libplugin1.dll
/bin/plugins/libplugin2.dll
/bin/plugins/libplugin3.dll
